<form [formGroup]="vehiculoForm" class="p-fluid">
  <!-- Texto descriptivo -->
  <div class="grid mb-4">
    <div class="field col-12 md:col-4">
      <label class="font-bold block mb-2">Fecha de ingreso</label>
      <input
        pInputText type="date" formControlName="fechaIngreso"
        [attr.max]="todayISO" class="w-full"
      />
      <small class="p-error block mt-1" *ngIf="vehiculoForm.get('fechaIngreso')?.touched && vehiculoForm.get('fechaIngreso')?.hasError('required')">
        Fecha requerida
      </small>
    </div>

    <div class="field col-12 md:col-4">
      <label class="font-bold block mb-2">N° BL</label>
      <input
        pInputText formControlName="numeroBL" class="w-full"
      />
      <small class="p-error block mt-1" *ngIf="vehiculoForm.get('numeroBL')?.touched && vehiculoForm.get('numeroBL')?.hasError('required')">
        BL requerido
      </small>
    </div>
    <div class="field col-12 md:col-4">
      <label class="font-bold block mb-2">Tarja</label>
      <input
        pInputText formControlName="numeroTarja" class="w-full"
      />
      <small class="p-error block mt-1" *ngIf="vehiculoForm.get('numeroTarja')?.touched && vehiculoForm.get('numeroTarja')?.hasError('required')">
        Tarja requerida
      </small>
    </div>
  </div>
  <div class="text-color-secondary block mb-4">
    Ingrese los datos del vehículo.
  </div>
  <!-- CONSIGNATARIO -->
  <div class="field grid mb-4">
    <label for="consignatario" class="col-12 md:col-2 font-bold">Consignatario</label>
    <div class="col-12 md:col-10">
      <input pInputText id="consignatario" formControlName="consignatario" class="w-full"/>
    </div>
  </div>
  <!-- NIT -->
  <div class="field grid mb-4">
    <label for="nit" class="col-12 md:col-2 font-bold">NIT</label>
    <div class="col-12 md:col-10">
      <p-inputMask
        id="nit"
        formControlName="nit"
        mask="9999-999999-999-9"
        [autoClear]="false"
        slotChar=" "
        class="w-full"
      ></p-inputMask>
      <div class="p-error mt-1" *ngIf="vehiculoForm.get('nit')?.touched">
        <ng-container *ngFor="let msg of getErrores('nit')">
          <small class="text-sm">{{ msg }}</small>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- VIN -->
  <div class="field grid mb-4">
    <label for="vin" class="col-12 md:col-2 font-bold">VIN</label>
    <div class="col-12 md:col-10">
      <input pInputText id="vin" formControlName="vin" class="w-full" autocomplete="off"
             [attr.minlength]="VIN_LENGTH" [attr.maxlength]="VIN_LENGTH"/>
      <div class="p-error mt-1" *ngIf="vehiculoForm.get('vin')?.touched">
        <ng-container *ngFor="let msg of getErrores('vin')">
          <small class="text-sm">{{ msg }}</small>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Año -->
  <div class="field grid mb-4">
    <label for="año" class="col-12 md:col-2 font-bold">Año</label>
    <div class="col-12 md:col-10">
      <p-calendar
        id="año"
        formControlName="anio"
        view="year"
        dateFormat="yy"
        [yearNavigator]="true"
        yearRange="1990:2026"
        [maxDate]="maxAnio"
        class="w-full"
      ></p-calendar>
      <div class="p-error mt-1" *ngIf="vehiculoForm.get('anio')?.touched && vehiculoForm.get('anio')?.hasError('anioInvalido')">
        <small class="text-sm">El año está fuera del rango permitido (1990-2026)</small>
      </div>
    </div>
  </div>
  <!-- Marca -->
  <div class="field grid mb-4">
    <label for="marca" class="col-12 md:col-2 font-bold">Marca</label>
    <div class="col-12 md:col-10">
      <input pInputText id="marca" formControlName="marca" class="w-full"/>
    </div>
  </div>
  <!-- Estilo -->
  <div class="field grid mb-4">
    <label for="estilo" class="col-12 md:col-2 font-bold">Estilo</label>
    <div class="col-12 md:col-10">
      <input pInputText id="estilo" formControlName="estilo" class="w-full"/>
    </div>
  </div>
  <!-- Color -->
  <div class="field grid mb-4">
    <label for="color" class="col-12 md:col-2 font-bold">Color</label>
    <div class="col-12 md:col-10">
      <input pInputText id="color" formControlName="color" class="w-full"/>
    </div>
  </div>
  <div class="field grid mb-4">
    <label for="observaciones" class="col-12 md:col-2 font-bold">Observaciones</label>
    <textarea id="observaciones"pInputTextarea formControlName="observaciones" class="w-full" rows="5">
</textarea>

  </div>
  <!-- RESCATE
  <div class="flex items-center gap-4 mb-4">
    <label class="font-semibold w-24">Realizar rescate</label>
    <p-checkbox formControlName="realizarRescate" [binary]="true"></p-checkbox>
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="fechares" class="font-semibold w-24">Fecha de rescate</label>
    <input pInputText type="date" formControlName="fechares" class="flex-auto" [attr.max]="todayISO"/>
  </div>-->

  <!-- Dias abandono
  <div class="flex items-center gap-4 mb-8">
    <label for="abandono" class="font-semibold w-24">Abandono</label>
    <input pInputText formControlName="abandono"  class="flex-auto"  />
  </div>-->

  <!-- despacho
  <div class="flex items-center gap-4 mb-8">
    <label for="despacho" class="font-semibold w-24">Despacho</label>
    <input pInputText formControlName="despacho" class="flex-auto" />
  </div>-->

 <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="danger" (click)="onCancel()"></p-button>
    <p-button label="{{ modo === 'crear' ? 'Guardar' : 'Actualizar' }}" (click)="confirmSave()"></p-button>
  </div>

</form>
