<div class="p-4">
  <h2>Actualizar Vehículos</h2>

  <p-table [value]="vehiculos" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Consignatario</th>
        <th>VIN</th>
        <th>Marca</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehiculo>
      <tr>
        <td>{{ vehiculo.consignatario }}</td>
        <td>{{ vehiculo.vin }}</td>
        <td>{{ vehiculo.marca }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success"
                  (click)="seleccionarVehiculo(vehiculo)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Diálogo de actualización -->
  <p-dialog header="Editar Vehículo" [(visible)]="dialogVisible" [modal]="true" [style]="{ width: '50vw' }">
    <div *ngIf="vehiculoSeleccionado" class="p-fluid">
      <div class="p-field">
        <label for="consignatario">Consignatario</label>
        <input id="consignatario" pInputText [(ngModel)]="vehiculoSeleccionado.consignatario">
      </div>

      <div class="p-field">
        <label for="vin">VIN</label>
        <input id="vin" pInputText [(ngModel)]="vehiculoSeleccionado.vin">
      </div>

      <!-- Agrega aquí los demás campos del formulario -->
      <!-- ... -->

      <div class="p-field">
        <label>¿Realizará rescate?</label>
        <div class="p-d-flex">
          <p-radioButton name="rescate" value="Si" label="Sí" [(ngModel)]="realizararescate"></p-radioButton>
          <p-radioButton name="rescate" value="No" label="No" [(ngModel)]="realizararescate"
                        class="p-ml-2"></p-radioButton>
        </div>
      </div>

      <div class="p-field">
        <label for="fechares">Fecha de rescate</label>
        <input id="fechares" type="date" pInputText [(ngModel)]="vehiculoSeleccionado.fechares"
               [disabled]="realizararescate === 'No'">
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text"
              (click)="cancelarActualizacion()"></button>
      <button pButton label="Guardar" icon="pi pi-check"
              (click)="actualizarVehiculo()"></button>
    </ng-template>
  </p-dialog>
</div>
