<p-toast></p-toast>

<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h1>CONTROL DE VEHÍCULOS</h1>

<p-button (click)="showDialog()" label="Ingresar Datos"></p-button>
<p-button (click)="dialogConsultaVisible = true" label="Consultar Datos" icon="pi pi-search" class="ml-2"></p-button>

<!-- consulta de vehículos -->
<p-dialog
  header="Consulta de Vehículos" [(visible)]="dialogConsultaVisible" [modal]="true" [closable]="true" [style]="{ width: '100vw' }"
  [contentStyle]="{ 'max-height': '400px', overflow: 'auto' }" >
<p-table [value]="vehiculos" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'min-width': '60rem' }" >
    <ng-template pTemplate="header">
      <tr>
        <th>Consignatario</th>
        <th>NIT</th>
        <th>Fecha</th>
        <th>VIN</th>
        <th>Año</th>
        <th>Marca</th>
        <th>Estilo</th>
        <th>Color</th>
        <th>Abandono</th>
        <th>Fecha de rescate</th>
        <th>Despacho</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-carro>
      <tr>
        <td>{{ carro.consignatario }}</td>
        <td>{{ carro.nit }}</td>
        <td>{{ carro.fecha }}</td>
        <td>{{ carro.vin }}</td>
        <td>{{ carro.anio }}</td>
        <td>{{ carro.marca }}</td>
        <td>{{ carro.estilo }}</td>
        <td>{{ carro.color }}</td>
        <td>{{ carro.abandono }}</td>
        <td>{{ carro.fechares }}</td>
        <td>{{ carro.despacho }}</td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <p-button label="Cerrar" icon="pi pi-times" (click)="dialogConsultaVisible = false"></p-button>
  </ng-template>
</p-dialog>
<!-- campos para ingresar vehiculos -->
<p-dialog header="Control de vehículos" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem' }">
  <span class="p-text-secondary block mb-8">Ingrese los datos correspondientes.</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="consignatario" class="font-semibold w-24">Consignatario</label>
    <input pInputText id="consignatario" [(ngModel)]="nuevoVehiculo.consignatario" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="nit" class="font-semibold w-24">NIT</label>
    <input pInputText id="nit" [(ngModel)]="nuevoVehiculo.nit" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label for="fecha" class="font-semibold w-24">Fecha</label>
    <input pInputText type="date" id="fecha" [(ngModel)]="nuevoVehiculo.fecha" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="vin" class="font-semibold w-24">VIN</label>
    <input pInputText id="vin" [(ngModel)]="nuevoVehiculo.vin" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="año" class="font-semibold w-24">Año</label>
    <p-calendar [(ngModel)]="nuevoVehiculo.anio" view="year" dateFormat="yy" [yearNavigator]="true" yearRange="1990:2050" inputId="año" class="flex-auto" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="marca" class="font-semibold w-24">Marca</label>
    <input pInputText id="marca" [(ngModel)]="nuevoVehiculo.marca" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="estilo" class="font-semibold w-24">Estilo</label>
    <input pInputText id="estilo" [(ngModel)]="nuevoVehiculo.estilo" class="flex-auto" autocomplete="off" />
  </div>

  <div class="flex items-center gap-4 mb-8">
    <label for="color" class="font-semibold w-24">Color</label>
    <input pInputText id="color" [(ngModel)]="nuevoVehiculo.color" class="flex-auto" autocomplete="off" />
  </div>
  <!-- Pregunta: ¿Realizará rescate? -->
<div class="flex items-center gap-4 mb-4">
  <label class="font-semibold w-24">¿Realizará rescate? </label>
  <div class="flex items-center gap-4">
    <p-radioButton name="realizaraRescate" value="Si" label="Sí" [(ngModel)]="realizararescate"></p-radioButton>
    <p-radioButton name="realizaraRescate" value="No" label="No" [(ngModel)]="realizararescate" (ngModelChange)="nuevoVehiculo.fechares = ''">
    </p-radioButton>
  </div>
</div>
<!-- Campo de rescate -->
<div class="flex items-center gap-4 mb-8">
  <label for="fechares" class="font-semibold w-24">Fecha de rescate</label>
  <input pInputText type="date" id="fechares" [(ngModel)]="nuevoVehiculo.fechares" class="flex-auto" [disabled]="realizararescate === 'No'"
    autocomplete="off" />
</div>
<div class="flex items-center gap-4 mb-8">
  <label for="abandono" class="font-semibold w-24">Abandono</label>
  <input pInputText id="abandono" [(ngModel)]="nuevoVehiculo.abandono" class="flex-auto" autocomplete="off" />
</div>
  <div class="flex items-center gap-4 mb-8">
    <label for="despacho" class="font-semibold w-24">Despacho</label>
    <input pInputText id="despacho" [(ngModel)]="nuevoVehiculo.despacho" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="danger" (click)="confirmCancel()"></p-button>
    <p-button label="Save" (click)="confirmSave()"></p-button>
  </div>
</p-dialog>
